
@{
    ViewData["Title"] = "ExcelBlogList";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<h1>BlogListExcel</h1>
<a href="/Admin/AdminBlog/ExportStaticExcelBlogList" class="btn btn-primary">Excel listesini indir</a>

@section scripts{

}