@using Entities
@model List<Message>
@{
    ViewData["Title"] = "Sendbox";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Sendbox</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Alıcı</th>
        <th>Konu</th>
        <th>Tarih</th>
        <th>Detaya git</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.MessageId</td>
            <td>@item.Receiver.Name</td>
            <td>@item.Subject</td>
            <td>@item.Date.ToShortDateString()</td>
            <td><a href="/Message/MessageContent/@item.MessageId" class="btn btn-warning">Mesajı Aç</a></td>
        </tr>
    }

</table>